.contact-form {
    text-align: right;
    color: white;
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    background: rgba(255, 255, 255, 0.15);
    padding: 10px;
    vertical-align: middle
}

.percent {
    font-family: sans-serif;
    0 font-size: 15px;
    display: inline-block;
    background: rgb(255, 0, 0);
}

table {
    border-spacing: 5px;
    text-align: right;
}

th {
    color: #fff;
    padding-right: 10px;
}

td {
    padding: 5px;
    width: auto;
}

.input {
    width: 100%;
}

input#submit,
input#reset {
    width: 100px;
    margin-left: 10px;
}
